{% extends 'base.html' %}

{% block title %} About Us {% endblock title %}
{% block about %}white{% endblock about %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 "><strong>AptCoder</strong></h1>
    <p class="text-monospace">
    	<br>
    	AptCoder (under SNN EDUWORLD PVT LTD) is an IIT Bombay alumnus venture in the field of online coding with current focus in school level education ranging from kindergarten to 12th standard.
    	<br>
    	<br>
        The world is moving towards a new era of technology. As estimated by various organizations, by the end of this decade, IoT & AI will touch to more than 800 million jobs. Gaining that knowledge from early age is extremely necessary and beneficial now. AptCoder aims to bridge this gap by creating kids as future entrepreneurs with our interactive learning platform.
        <br>
        <br>
        Our vision for kids is to nurture young minds with proper food and exercise. As per researches, our mind takes almost its 94% from seeing by eyes & from hearing by ears. We aim to provide them this 94% with 100% efficiency in order to built logical thinking via our online learning platform using our best certified faculties. AptCoder, aim to provide coding to kids 5-16 years of age.  

    </p>
  </div>
</div>

{% endblock body %}